html,
body {
  margin: 0px;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: Helvetica;
  background-color: rgb(241, 238, 238);
  color: black;
}
*{
    color: black;
}
.Show_more_less {
  cursor: pointer;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.text_search {
  margin-left: 2em;
}
/*START Ekstra section*/
section{
    padding: 6rem;
    background-color:  #2980b9;/*151516*/
    color: black;
    font-size: 20px;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

img{
    width: 100%;
}

section{
    padding: 6rem 0;
}

.Ekstra-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.Ekstra-item:last-child{
    margin-bottom: 0;
}

.portfolio-img{
    flex: 1;
}

.Ekstra-description{
    flex: 1;
    margin-right: 1em;
    margin-left: 1em;
}

.Ekstra-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.Ekstra-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.Ekstra-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.Ekstra-description .cta:hover{
    color: #2f67cd;
}
a{
    color: rgb(255, 255, 255);
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

/*SLUT Ekstra section*/
@media screen and (max-width: 375px){
    .Ekstra-item{
        flex-direction: column;
    }
    .Ekstra-description{
        order: 2;
        margin: 0;
    }

    p{
        font-size: 16px;
    }

    h1{
        font-size: 30px;
    }
    h6{
        font-size: 20px;
    }

    .Ekstra-description h1{
        font-size: 20px;
    }

    a{
        font-size: 15px;
    }
}