body{/*Skrift type*/
    font-family: 'Anonymous Pro', monospace;
}
/*START slider*/
#carouselExampleSlidesOnly {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#carouselExampleSlidesOnly img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/*SLUT slider*/

/*START Ekstra section*/
section{
    padding: 6rem;
    background-color:  #2980b9;/*151516*/
    color: white;
    font-size: 20px;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

img{
    width: 100%;
}

section{
    padding: 6rem 0;
}

.Ekstra-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.Ekstra-item:last-child{
    margin-bottom: 0;
}

.Ekstra-img{
    flex: 1;
}

.Ekstra-description{
    flex: 1;
    margin-right: 1em;
    margin-left: 1em;
}

.Ekstra-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.Ekstra-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.Ekstra-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.Ekstra-description .cta:hover{
    color: #2f67cd;
}
a{
    color: rgb(255, 255, 255);
}
/*SLUT Ekstra section*/

/*START Read more*/
#more{
    display: none;
}
/*SLUT Read more*/

/*START Scroll indicator*/
.header {/*Det her er top*/
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    color: white;
    background-color: #252627;
  }
  /*Den putter det progressbar i midten*/
  .header h2 {
    text-align: center;
  }
  /*her designer jeg progressbar*/
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  /*Hvordan det ser ud når scroller ned*/
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }
/*SLUT Scroll indicator*/
/*START Search bar*/
* {
    box-sizing: border-box;
  }
  .Show_more_less {
    cursor: pointer;
  }
  
  .highlight {
    background-color: yellow;
    font-weight: bold;
  }
  
  .text_search {
    margin-left: 2em;
  }
  /*når man trykker på en af boksen*/
  #myUL li a:hover:not(.header) {
    background-color: rgb(252, 122, 122);
  }
/*SLUT SEARCH BAR*/

/*START ipad*/
@media screen and (max-width: 768px){
    p{
        font-size: 18px;
    }
    a{
        font-size: 18px;
    }
}
/*SLUT ipad*/

/*START telefon*/
@media screen and (max-width: 375px){
    .Ekstra-item{
        flex-direction: column;
    }
    .Ekstra-description{
        order: 2;
        margin: 0;
    }

    p{
        font-size: 16px;
    }

    h1{
        font-size: 30px;
    }
    h6{
        font-size: 20px;
    }

    .Ekstra-description h1{
        font-size: 20px;
    }

    a{
        font-size: 15px;
    }
}
/*SLUT telefon*/